.input{
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 6px;
    width: 100%;
    max-width: 600px;
}
 .SearchForm {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    overflow: hidden;
  }
  .button{
    border-radius: 0px 4px 4px 0px;
    height: 33px;
    border: none;
    cursor: pointer;
}

input:focus {
   outline-style: none;
} 

.Searchbar {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #3f51b5;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
  
 
  
  .SearchForm-input::placeholder {
    font: inherit;
    font-size: 18px;
  }